default:
  suites:
    default:
      contexts:
        - FeatureContext: ~
        - ProjectFeatureContext: ~
        - ClassStructureFeatureContext:
          - "@Hexarchium\\ZendCodeIntegration\\Projector\\ClassStructureProjector"
      services: "Helpers\\Container::factory"
